# Ignore Chroma DB files
chroma_langchain_db/
chroma_db/
chat_logs/
static/
data/
statics/
.env
# Ignore SQLite files
*.sqlite3
*.bin


tech-sales-whisperer-bot/
venv/
debug_audio/
debug_scripts/
__pycache__/