langchain
faiss-cpu
openai
tiktoken
python-dotenv
pandas
langchain-community
python-pptx
langchain_chroma
langgraph
langchain-core
beautifulsoup4
chromadb
numpy
langchain-text-splitters
cryptography
reportlab
streamlit
langchain-openai
torch
faster-whisper
gTTS
streamlit-mic-recorder
phonenumbers
email_validator